# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python testing/cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

data/
ml/ocr/trocr_lora_adapter/
